<section class="section">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <% if (notice) %>
        <div class="notification is-info is-light">
          <p class="has-text-centered"><%= notice %></p>          
        </div>     
      <% end %>
      <div class="card has-text-centered has-background-light">

        <div class="card-content" id="login-card-content">
          <h1 class="title">Bienvenido!</h1>
          <p class="subtitle is-size-6">Accede con tu correo y contrasena.</p>
        
          <%= form_with url: sessions_path, id: 'login-form' do |form| %>
            <div class="field">
              <%= form.label :email, 'Correo', class: 'label' %>
              <div class="control">
                <%= form.text_field :email, class: 'input' %>
              </div>            
            </div>
            <div class="field">
              <%= form.label :password, 'Contrasena', class: 'label' %>
              <div class="control">
                <%= form.password_field :password, class: 'input' %>
              </div>            
            </div>
            <div class="field">
              <div class="control">
                <%= form.submit 'Acceder', class: 'button is-primary' %>
              </div>
            </div>
          <% end %>
          <p class="has-text-danger" id="login-errors"></p>
        </div>        
        
        <footer class="card-footer">
          <%= link_to 'Crear cuenta', signup_path, {class: 'button is-info is-fullwidth'} %>
        </footer>
      </div>
    </div>
  </div>  
</section>

<%= javascript_pack_tag 'validation' %>